form {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    & .input-group {
        width: 265px;
    }

    & button {
        width: 210px;
        align-self: flex-end;
    }
}