<div class="container">
    <div class="page-size">
        <p>Items per page:</p>

        <form form="ngForm">
            <select
                [ngModel]="pageSize"
                (ngModelChange)="changePageSize($event)"
                name="pageSize">

                <option
                    *ngFor="let option of pageSizeOptions"
                    value="{{ option }}">
                    {{ option }}
                </option>
            </select>
        </form>
    </div>

    <div class="range-actions">
        <p>{{ pageIndex }} - {{ pageSize }} of {{ length }}</p>

        <div class="button-group">
            <button (click)="firstPage()">&#x276E;&#x276E;</button>
            <button (click)="previousPage()">&#x276E;</button>

            <button
                *ngFor="let page of visiblePages"
                [class.active]="page === pageIndex"
                (click)="setPage(page)">
                {{ page }}
            </button>

            <button (click)="nextPage()">&#x276F;</button>
            <button (click)="lastPage()">&#x276F;&#x276F;</button>
        </div>
    </div>

</div>