<form [formGroup]="form" (ngSubmit)="updatePassword()">
    <div class="input-group">
        <label>Current password: </label>

        <input
            type="text"
            placeholder="New password"
            formControlName="currentPassword">

        <div 
            *ngIf="currentPassword?.invalid && currentPassword?.dirty"
            class="error-message">

            <div *ngIf="currentPassword?.errors?.['required']">Required</div>
        </div>
    </div>

    <div class="input-group">
        <label>New password: </label>

        <input
            type="text"
            placeholder="New password"
            formControlName="newPassword">

        <div 
            *ngIf="newPassword?.invalid && newPassword?.dirty"
            class="error-message">

            <div *ngIf="newPassword?.errors?.['required']">Required</div>
        </div>
    </div>

    <button
        type="submit"
        class="light"
        [disabled]="form.invalid">
        Update
    </button>
</form>