
<form [formGroup]="form" (ngSubmit)="update()">
    <div class="input-group">
        <label>Username: </label>
        
        <input
            type="text"
            placeholder="Username"
            formControlName="username">

        <div 
            *ngIf="username?.invalid && username?.dirty"
            class="error-message">

            <div *ngIf="username?.errors?.['required']">Required</div>
            <div *ngIf="username?.errors?.['pattern']">Only latin characters and numbers allowed</div>
            <div *ngIf="username?.errors?.['minlength']">Min length equals to 4 characters</div>
            <div *ngIf="username?.errors?.['maxlength']">Max length equals to 12 characters</div>
        </div>
    </div>

    <div class="input-group">
        <label>Email: </label>
       
        <input
            type="email"
            placeholder="Email"
            formControlName="email">

        <div 
            *ngIf="email?.invalid && email?.dirty"
            class="error-message">

            <div *ngIf="email?.errors?.['required']">Required</div>
            <div *ngIf="email?.errors?.['email']">Invalid email</div>
        </div>
    </div>

    <button
        type="submit"
        class="light"
        [disabled]="form.invalid">
        Update
    </button>
</form>