.header {
    width: 100%;
    background-color: #333;
    color: white;

    & .container {
        width: 1060px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        
        &.link {
            min-width: 100px;
            height: 50px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            text-align: center;
    
            &:hover {
                background-color: #666;
            }
        }
    }
}

.user-info {
    display: flex;
    align-items: center;


    & .balance {
        margin-right: 10px;
    }
    
    & .dropdown {
        overflow: hidden;
        background-color: #333;
    
        &:hover {
            & .dropbtn {
                background-color: #666;
            }
            
            & .dropdown-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        } 
    
        & .dropbtn {
            min-width: 100px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background-color: inherit;
        }
    
        & .dropdown-content {
            position: absolute;
            display: none;
            top: 50px;
            background-color: #444;
            min-width: 100px;
            z-index: 1;
            cursor: pointer;
    
            & a {
                color: white;
                text-decoration: none;
    
                &:hover {
                    background-color: #777;
                }
            }
        }
    }    
}
